* {
    background-color: #f7ffc2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    border-top: 2px solid #CAC2FF;
    border-bottom: 2px solid #CAC2FF;
    padding: 10%; 
}

h1 {
    font-family: Arial, Verdana, monospace;
    font-size: 5vw; 
    text-align: center;
    color: #CAC2FF;
}

nav {
    text-align: center;
    padding: 2%;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw; 
    text-align: center;
    color: #CAC2FF;
    border: 2px solid #CAC2FF;
    padding: 2%;
    margin: 1%;
    transition: background-color 0.3s, color 0.3s;
}

input:hover {
    background-color: #CAC2FF;
    color: #f7ffc2;
}

article {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

a {
    color: #CAC2FF;
    text-decoration: none;
    font-style: normal;
}

a:hover {
    background-color: #CAC2FF;
    color: #f7ffc2;
}
.home{
    width: 10%;
    margin: 1%;
}

.about_div {
    font-family: Arial, Verdana, monospace;
    font-size: 2vw; 
    text-align: left;
    color: #CAC2FF;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    position: relative;
    top: 30%;
    left: 2%;
    width: 80%;
    height: 80%;
}

#projects {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

.projects_div {
    color: #CAC2FF;
    background-color: #CAC2FF;
}

.project_row {
    width: 90%;
    height: 45%;
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_clmn {
    width: 100%;
    height: 100%;
    margin: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #CAC2FF;
}

.project_clmn:hover {
    background-color: #CAC2FF;
}

.project_Name {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw; 
    text-align: center;
    color: #CAC2FF;
    transition: background-color 0.3s, color 0.3s;
}

.project_clmn:hover .project_Name {
    background-color: #CAC2FF;
    color: #f7ffc2;
}

.DisplayProjectInfo {
    background-color: #494753;
    overflow: auto;
}

.DisplayProjectInfo h2, a, h3 {
    background-color: #494753;
    color: #ffffff;
    font-size: 2vw; 
}

.DisplayProjectInfo p {
    background-color: #494753;
    color: #ffffff;
    font-size: 1.5vw; 
}

.back_button {
    width: 5%;
    height: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494753;
    text-shadow: none;
    padding: 1%;
    margin: 1%;
    border: 2px solid #CAC2FF;
}

#FastAPI, #BankingApplication, #BookManagementSystem, #DatingApplicationManagementSystem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

p {
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
}

hr {
    color: #CAC2FF;
}

.video_frame {
    text-align: center;
}

.git_link {
    text-shadow: none;
    padding: 1%;
    border: 2px solid #CAC2FF;
}

.contact_div {
    position: relative;
    top: 30%;
    left: 30%;
}

.horizontal_div {
    background-color: #f7ffc2;
    color: #CAC2FF;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw; 
    text-align: center;
    border: 2px solid #CAC2FF;
    margin: 1%;
}

